#page-title:hover {
    cursor: pointer;
}
.card {
    margin: 10px;
}
#chart-results-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#search-input-field {
    margin-left: 8px;
}